<!-- footer.html -->
<footer class="bg-dark-blue text-white py-4">
    <div class="container mx-auto flex flex-col items-center">
        <!-- Social Media Links -->
        <div class="space-x-4 mb-4">
            <a href="https://github.com/Sivtheng" class="hover:text-orange" aria-label="GitHub"><img src="{% static 'icons/github.svg' %}" alt="GitHub" class="w-6 h-6 inline"></a>
            <a href="https://t.me/maxyjang" class="hover:text-orange" aria-label="Telegram"><img src="{% static 'icons/Telegram.svg' %}" alt="Telegram" class="w-6 h-6 inline"></a>
            <a href="https://x.com/svthngchng class="hover:text-orange" aria-label="Twitter"><img src="{% static 'icons/twitter.svg' %}" alt="Twitter" class="w-6 h-6 inline"></a>
            <a href="https://www.facebook.com/sivtheng24 class="hover:text-orange" aria-label="Facebook"><img src="{% static 'icons/facebook.svg' %}" alt="Facebook" class="w-6 h-6 inline"></a>
            <a href="https://www.instagram.com/maxyjang" class="hover:text-orange" aria-label="Instagram"><img src="{% static 'icons/instagram.svg' %}" alt="Instagram" class="w-6 h-6 inline"></a>
            <a href="https://www.linkedin.com/in/sivtheng-chang-52a013207" class="hover:text-orange" aria-label="LinkedIn"><img src="{% static 'icons/linkedin.svg' %}" alt="LinkedIn" class="w-6 h-6 inline"></a>
            <a href="https://open.spotify.com/user/313qjwth3hvxbcluazpcmzgh4xbq" class="hover:text-orange" aria-label="Spotify"><img src="{% static 'icons/spotify.svg' %}" alt="Spotify" class="w-6 h-6 inline"></a>
        </div>
        <!-- Made By and Version -->
        <div>
            <p class="text-sm">Pawg Dashboard by Sivtheng/Maxyyy</p>
            <p class="text-xs">ver. 1.0.0-alpha</p>
        </div>
    </div>
</footer>
