<!-- footer.html -->
<footer class="bg-dark-blue text-white py-4">
    <div class="container mx-auto flex flex-col items-center">
        <!-- Social Media Links -->
        <div class="space-x-4 mb-4">
            <a href="https://github.com/Sivtheng" class="hover:text-orange" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://t.me/maxyjang" class="hover:text-orange" aria-label="Telegram">
                <i class="fab fa-telegram"></i>
            </a>
            <a href="https://x.com/svthngchng" class="hover:text-orange" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/sivtheng24" class="hover:text-orange" aria-label="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://www.instagram.com/maxyjang" class="hover:text-orange" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/sivtheng-chang-52a013207" class="hover:text-orange" aria-label="LinkedIn">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://open.spotify.com/user/313qjwth3hvxbcluazpcmzgh4xbq" class="hover:text-orange" aria-label="Spotify">
                <i class="fab fa-spotify"></i>
            </a>
        </div>
        <!-- Made By and Version -->
        <div>
            <p class="text-sm">Pawg Dashboard by Sivtheng/Maxyyy</p>
            <p class="text-xs">ver. 1.0.0-alpha</p>
        </div>
    </div>
</footer>
