<!DOCTYPE html>
<html>
<head>
    <title>Update Appointment</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Update Appointment</h1>
            <a href="{% url 'list_appointments' %}" class="button">Back to Appointments List</a>
        </div>
    </header>
    <div class="container content">
        <h2>Update Appointment Information</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Update Appointment</button>
        </form>
    </div>
</body>
</html>
