<!DOCTYPE html>
<html>
<head>
    <title>Update Contact</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>Update Contact</h1>
            <a href="{% url 'list_contacts' %}" class="button">Back to Contacts List</a>
        </div>
    </header>
    <div class="container content">
        <h2>Update Contact Information</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button">Update Contact</button>
        </form>
    </div>
</body>
</html>
