{% extends 'base.html' %}

{% block title %}Update Adoption Application{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1 class="mb-0">Update Adoption Application</h1>
        <a href="{% url 'list_adoption_applications' %}" class="btn btn-light">Back to Applications List</a>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-4">Update Application Information</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary">Update Application</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
